.actorImage {
    width: 300px;
    height: 400px;
    border: 1px solid #000;
}

.actorData {
    background-color: #fff;
    border: 1px solid #000;
    opacity: 0.9;
}

.castMovies {
    background-color: #fff;
    border: 1px solid #000; 
    max-height: 400px;
    overflow-y: auto;   
}
