.table-responsive {
    height:350px;
    box-shadow: -10px 10px 10px #888888;
    margin: 50px;    
}

table thead {
    position: sticky;
    top: 0;
    background-color: #6c757d;
    color: #fff;
}

th {
    width: 50%;
}

img {
    height: 100px;
    width: 100px;
}

.movieImages {
    width: 300px;
    height: 500px;
    
}

@media only screen and (max-width: 500px) {
    .table-responsive {
      margin: 0;
    }
}